.sobre-section {
  background-color: #f9fafc;
  padding: 4rem 2rem;
  font-family: "Heebo", sans-serif;
  color: #21243d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; /* Centraliza todos os textos */
}

.sobre-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.sobre-titulo {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #0a192f;
}

.sobre-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.sobre-texto {
  max-width: 800px;
}

.sobre-texto h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.sobre-texto p {
  line-height: 1.6;
  margin-bottom: 1rem;
  color: #222124;
}

.nome-destaque {
  color: #6e7fbd;
  font-weight: 700;
}

.titulo {
  color: #6e7fbd;
}
.sobre-icones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.icone-box {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  padding: 2rem;
  width: 280px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icone-box:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.icone-box h3 {
  margin-top: 1rem;
  color: #0a192f;
}

/* Responsividade */
@media (min-width: 768px) {
  .sobre-conteudo {
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .sobre-conteudo {
    flex-direction: column;
    align-items: center;
  }
}
