.footer {
  padding: 2rem 1rem;
  text-align: center;
  color: #fff;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* Espaço entre ícones e copyright */
}

/* Ícones das redes sociais */
.social-icons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.social-icons a img {
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icons a:hover img {
  transform: translateY(-4px);
  opacity: 0.8;
}

/* Copyright */
.footer p {
  font-size: 0.9rem;
  color: #aaa;
  margin: 0;
}
