@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap");

body {
  font-family: "Heebo", sans-serif;
  color: #21243d;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  color: #21243d;
}
.container {
  max-width: 1085px;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
  box-sizing: border-box;
}
